html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* prevents scrollbars */
    background-color: black; /* Or any color you want behind the embed */
}
embed {
    display: block;
    width: 50%;
    height: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border: none;
    position: absolute;
}
