body {
}
#container {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:400px;
    background-color:#d3d3d3;
}
#container div {
    height:370px;
    width:335px;
    background:#d4d4d4;
    margin:5px;
    text-align:center;
    align-items:center;
    min-height:400px;
    border-radius:20%;
    box-sizing: border-box;
    align-content: center;
}
#container img {
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: wrap;
  width: 6%;
  aspect-ratio: 1 / 1;
  margin: 2%;
}
    }
#jag-ne img {
    width:30%;
    height:30%;
}
